

/* extraBox */

  /* .iconsBtn{
    display: grid;
  grid-template-columns: repeat(2, 1fr); 
 
  color: #fff; 
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}   */
/* .extraBox1{
  width: 70;
  height: 120px;
  border: 2px solid #fff;
  
  
}  */